* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.days-container {
  justify-content: space-evenly;
}

.days-container button {
  width: 130px;
  height: 110px;
  transition: background-color 0.7s ease-in-out;
  background-color: white;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.add-btn {
  padding: 10px 40px;
}

.add-btn:hover {
  background-color: #95bcf2;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
  background-color: white;
  width: 600px;
  height: 300px;
}

select {
  margin-right: 1rem;
}

#text-area {
  width: 500px;
  height: 130px;
  margin: 1rem 0;
}

.submit-btn-area {
  text-align: right;
  margin-bottom: 2rem;
}

.add-btn,
.submit-btn {
  box-shadow: 2px 2px 3px black;
  background-color: #fff;
}

.modal > h1 {
  margin-top: 15px;
}

.hidden {
  display: none;
}
